# .env

NEXT_PUBLIC_SANITY_PROJECT_ID=xxxxxxxx
SANITY_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_SECRET_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
STRIPE_SHIPPING_RATE_ID=shr_xxxxxxxxxxxxxxxxxxxxxxxx
